.container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: auto 0 auto 0;
  padding: 5% 20% 10% 20%;
}

.p {
  line-height: 3rem; 
}


.form_div {
  background-color: #fe6100;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column; 
  margin: 5%;
}
.form label {
  margin: 1% 0 1% 0;
}



