* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  min-height: 80vh;
  width: 60%;
}

.p {
  line-height: 3rem; 
}

.form {
  display: flex;
  flex-direction: column; 
}
.form input {
  margin-top:  1rem;
  margin-bottom: 1rem;
  border-color: #fe6100;
  border-style:  double;
}



