* {
  padding: 0;
  margin: 0;
}

.footer {
  background-color: black;
  color: #c6c6c6;
  font-size: small;
  height: 10vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.footer div {
  width: 60%;
  color: #c6c6c6;
}

.footer div hr {
  border-color: #c6c6c6;
}


.footer div img {
  height: 7vh;
}

