.nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.clear_logo {
  height: 7rem;  
}

.links {
  display: flex;  
}

.a {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 600;
  font-size: small;
  text-decoration: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.a:hover {
  color: #0478E7;
}


.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  align-items: flex-start;
}
.a:hover > .dropdown {
  visibility: visible;
  opacity: 1;
}


.button {
  color: white;
  background-color: #0478E7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: small;
  text-decoration: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: #0054a2;
}

