.nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav > * {
  background-color: white;
}

.img_div{
  flex: none;
}
.clear_logo {
  height: 7rem;  
}

.buttons {
  display: flex;
  flex: initial;  
}

.a , .button {
  font-family: sans-serif;
  border: none;
  font-size: small;
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.a {
  background-color: white;
  color: black;
}
.a:hover {
  color: #0478E7;
}
.button {
  flex: initial;
  color: white;
  background-color: #0478E7;
  position: relative;
}
.button:hover {
  background-color: #0054a2;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s;
  align-items: flex-start;
}
.buttons button:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

