.container {
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;
  margin-left: 20vw;
  margin-right: 20vw;

}

.col {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 2vh;
  gap: 20px;
  margin-bottom: 30px;
} 

.p {
  color: grey;
}

.img {
  width: 70px;
  height: auto;
}

.container a {
  text-decoration: none;
  font-size: 7vh;
  color: #0478E7;
  transition: margin-left 1s;
}
.a:hover {
  margin-left: 1rem;
}
