.container {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5rem;
}

.col {
  width: 25rem;
} 

.p {
  color: grey;
}

.img {
  height: 6rem;
}

.container a {
  text-decoration: none;
  font-size: 4rem;
  color: #0478E7;
  transition: margin-left 1s;
}
.a:hover {
  margin-left: 1rem;
}
