.container {
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;
}

.col {
  width: 500px;
  padding: 2vh;
} 

.p {
  color: grey;
}

.img {
  height: 10vh;
}

.container a {
  text-decoration: none;
  font-size: 7vh;
  color: #0478E7;
  transition: margin-left 1s;
}
.a:hover {
  margin-left: 1rem;
}
