.container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  
}


.h2 {
  color: #fe6100; 
}

.generate_report_div {
  display: flex;
  align-self: flex-start;
  width: 90%;
  padding-left: 5%;
  gap: 1rem;
}

.button {
  color: white;
  background-color: #fe6100; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: small;
  text-decoration: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: #ab4200; 
}
